            /* GENERAL STYLE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-top, .container-center, .container-bottom{
    width: 100vw;
    height: 100vh; 
    position: relative;
}
/* CONTAINER TOP */
.container-top{
    background-color: red;
}
.container-top .item-text h1{
    font-size: 5vh;
    color: yellow;
}
/* CONTAINER CENTER */
.container-center{
    background-color: green;
}
.container-center .item-text h1{
    font-size: 5vh;
    color: yellow;
}
/* CONTAINER BOTTOM */
.container-bottom{
    background-color: yellow;
}
.container-bottom .item-text h1{
    font-size: 5vh;
    color: green;
}
/* ITEM */
.item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
}
.item-img img{
    width: 100%;
}
.item-text{
    text-align: center;
}
/* NAV */
nav{
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 1;
}
.container nav ul li{
    display: inline-block;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
}
.container nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}