            /* GENERAL STYLE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sigmar One', cursive;
}
html{
    scroll-behavior: smooth;
}
/* GENERAL STYLE CONTAINER */
.container-top, 
.container-center, 
.container-bottom{
    height: 100vh; 
    position: relative;
}
.item-text h3{
    font-size: 4vh;
    word-spacing: 30px;
}
.container-top .item-text h3, 
.container-center .item-text h3{
    color: #ffff00;
}
/* CONTAINER TOP */
.container-top{
    background-color: #ff0000;
}

/* CONTAINER CENTER */
.container-center{
    background-color: #008000;
}

/* CONTAINER BOTTOM */
.container-bottom{
    background-color: #ffff00;
}
.container-bottom .item-text h3{
    color: green;
}
/* ITEM */
.item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
}
.item-img img{
    width: 100%;
}
.item-text{
    text-align: center;
}
/* NAV */
.container .nav-menu{
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 1;
}
.container nav ul li{
    display: inline-block;
    padding-left: 50px;
    font-size: 20px;
}
.container nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid currentColor;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}